@model StudioMetrics.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2>Project Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payrate) Per Day
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Payrate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeTable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeTable) Days
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            <a asp-controller="Clients" asp-action="Details" asp-route-id="@Model.Client.ClientId">@Model.Client.Name</a>
        </dd>
        <dt>
            Revenue
        </dt>
        <dd>
            $ @(Model.TimeTable * Model.Payrate)
        </dd>
        <dt>
            Players on this Project
        </dt>
        <dd>
            <ul>
                @*Loop over each PlayerProjects and show the First and Last Name for the associated Player as links to the details page*@
                @foreach (PlayerProject pp in Model.PlayerProjects)
                {
                    <li>
                        <a asp-controller="Players" asp-action="Details" asp-route-id="@pp.Player.PlayerId">@pp.Player.FirstName @pp.Player.LastName</a>
                    </li>
                }
            </ul>
        </dd>
        <dt>
            Associated Artists
        </dt>
        <dd>
            <ul>
                @*Loop over each ArtistProject and show the Name for the associated Artist as links to the details page*@
                @foreach (ArtistProject ap in Model.ArtistProjects)
                {
                    <li>
                        <a asp-controller="Artists" asp-action="Details" asp-route-id="@ap.Artist.ArtistId">@ap.Artist.Name</a>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <form>
        <button asp-action="Edit" asp-route-id="@Model.ProjectId" type="submit" class="btn btn-edit btn-default">Edit</button> |
        <button asp-action="ProjectsOfStatus" asp-route-id="All" type="submit" class="btn btn-details btn-default">Back to List</button>
    </form>
</div>
