@model StudioMetrics.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payrate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Payrate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeTable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeTable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt>
            Players on this Project
        </dt>
        <dd>
            <ul>
                @*Loop over the each PlayerProject and show the Title for the associated project*@
                @foreach (PlayerProject pp in Model.PlayerProjects)
                {
                    <li>@pp.Player.FirstName @pp.Player.LastName</li>
                }
            </ul>
        </dd>
        <dt>
            Associated Artists
        </dt>
        <dd>
            <ul>
                @*Loop over the each PlayerProject and show the Title for the associated project*@
                @foreach (ArtistProject ap in Model.ArtistProjects)
                {
                    <li>@ap.Artist.Name</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
