@model StudioMetrics.Models.Artist

@{
    ViewData["Title"] = "Details";
}

<h2>Artist Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Their Clients
        </dt>
        <dd>
            <ul>
                @*Loop over each ClientArtist and show the Name for the associated client as links to their details page*@
                @foreach (ClientArtist ca in Model.ClientArtists)
                {
                    <li>
                        <a asp-controller="Clients" asp-action="Details" asp-route-id="@ca.Client.ClientId">@ca.Client.Name</a>
                    </li>
                }
            </ul>
        </dd>
        @*Add a conditional redner so that if the Artist has no projects then it will render a comment saying that they have no projects*@
        <dt>
            Their Projects
        </dt>
        <dd>
            <ul>
                @*Loop over each ArtistProject and show the Title for the associated project as links to their details page*@
                @foreach (ArtistProject ap in Model.ArtistProjects)
                {
                    <li>
                        <a asp-controller="Projects" asp-action="Details" asp-route-id="@ap.Project.ProjectId">@ap.Project.Title</a>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <form>
        <button asp-action="Edit" asp-route-id="@Model.ArtistId" type="submit" class="btn btn-edit btn-default">Edit</button> |
        <button asp-action="Index" type="submit" class="btn btn-details btn-default">Back to List</button>
    </form>
</div>
