@model StudioMetrics.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h2>Client Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Associated Artists
        </dt>
        <dd>
            <ul>
                @*Loop over each ClientArtist and show the Artist Name associated with the client as a link to the details page*@
                @foreach (ClientArtist ca in Model.ClientArtists)
                {
                    <li>
                        <a asp-controller="Artists" asp-action="Details" asp-route-id="@ca.Artist.ArtistId">@ca.Artist.Name</a>
                    </li>
                }
            </ul>
        </dd>
        @*Added a conditional render so that if the Client has no projects then it will render a comment saying that they have no projects*@
        @if (Model.Projects.Count() != 0)
        {
            <dt>
                Their Projects
            </dt>
            <dd>
                <ul>
                    @*Loop over the client's projects and show the Title for the associated project as a link to the details page*@
                    @foreach (Project p in Model.Projects)
                    {
                        <li>
                            <a asp-controller="Projects" asp-action="Details" asp-route-id="@p.ProjectId">@p.Title</a>
                        </li>
                    }
                </ul>
            </dd>
        }
        else
        {
            <dt>
                Their Projects
            </dt>
            <dd>
                <p>There are currently no projects for this client</p>
            </dd>
        }
    </dl>
</div>
<div>
    <form>
        <button asp-action="Edit" asp-route-id="@Model.ClientId" type="submit" class="btn btn-edit btn-default">Edit</button> |
        <button asp-action="Index" type="submit" class="btn btn-details btn-default">Back to List</button>
    </form>
</div>
