@model StudioMetrics.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h2>Client Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Associated Artists
        </dt>
        <dd>
            <ul>
                @*Loop over each ClientArtist and show the Artist Name associated with the client*@
                @foreach (ClientArtist ca in Model.ClientArtists)
                {
                    <li>@ca.Artist.Name</li>
                }
            </ul>
        </dd>
        <dt>
            Their Projects
        </dt>
        <dd>
            <ul>
                @*Loop over the client's projects and show the Title for the associated project*@
                @foreach (Project p in Model.Projects)
                {
                    <li>@p.Title</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <form>
        <button asp-action="Edit" asp-route-id="@Model.ClientId" type="submit" class="btn btn-edit btn-default">Edit</button> |
        <button asp-action="Index" type="submit" class="btn btn-details btn-default">Back to List</button>
    </form>
</div>
