@model IEnumerable<StudioMetrics.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Clients</h2>

<form>
    <button asp-action="Create" type="submit" class="btn btn-create btn-default">Create New Client</button>
</form>
<br />

@*An if statement to tell the user to create clients if they haven't already*@
@if (Model.Count() == 0)
{
    <p>No Clients have been created yet. Please create Clients to attach to your Projects.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <form>
                        <button asp-action="Edit" asp-route-id="@item.ClientId" type="submit" class="btn btn-edit btn-default">Edit</button> |
                        <button asp-action="Details" asp-route-id="@item.ClientId" type="submit" class="btn btn-details btn-default">Details</button> |
                        <button asp-action="Delete" asp-route-id="@item.ClientId" type="submit" class="btn btn-delete btn-default">Delete</button>
                    </form>
                </td>
            </tr>
    }
        </tbody>
    </table>
}
